In [1]:
import numpy as np
import pandas as pd

In [7]:
users = pd.read_csv('Users.csv')
books = pd.read_csv('Books.csv')
ratings = pd.read_csv('Ratings.csv')

<ipython-input-7-68d7c1b17c86>:2: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  books = pd.read_csv('Books.csv')

In [8]:
users.head()

   User-ID                            Location   Age
0        1                  nyc, new york, usa   NaN
1        2           stockton, california, usa  18.0
2        3     moscow, yukon territory, russia   NaN
3        4           porto, v.n.gaia, portugal  17.0
4        5  farnborough, hants, united kingdom   NaN

In [9]:
ratings.head()

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

In [17]:
books.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

In [10]:
print(books.shape)
print(ratings.shape)
print(users.shape)

(271360, 8)
(1149780, 3)
(278858, 3)

In [11]:
books.isnull().sum()

ISBN                   0
Book-Title             0
Book-Author            1
Year-Of-Publication    0
Publisher              2
Image-URL-S            0
Image-URL-M            0
Image-URL-L            3
dtype: int64

In [12]:
users.isnull().sum()

User-ID          0
Location         0
Age         110762
dtype: int64

In [13]:
ratings.isnull().sum()

User-ID        0
ISBN           0
Book-Rating    0
dtype: int64

In [14]:
books.duplicated().sum()

0

In [15]:
ratings.duplicated().sum()

0

In [16]:
users.duplicated().sum()

0

***Popularity based recommender system***

In [19]:
## I have taken out of so many books which have a minimum voting of 250 
## this is because 2 votes can also give high average value

In [24]:
rating_with_name = ratings.merge(books,on='ISBN')

In [25]:
rating_with_name.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1031136 entries, 0 to 1031135
Data columns (total 10 columns):
 #   Column               Non-Null Count    Dtype
---  ------               --------------    -----
 0   User-ID              1031136 non-null  int64
 1   ISBN                 1031136 non-null  object
 2   Book-Rating          1031136 non-null  int64
 3   Book-Title           1031136 non-null  object
 4   Book-Author          1031135 non-null  object
 5   Year-Of-Publication  1031136 non-null  object
 6   Publisher            1031134 non-null  object
 7   Image-URL-S          1031136 non-null  object
 8   Image-URL-M          1031136 non-null  object
 9   Image-URL-L          1031132 non-null  object
dtypes: int64(2), object(8)
memory usage: 86.5+ MB

In [26]:
num_rating_df = ratings_with_name.groupby('Book-Title').count()['Book-Rating'].reset_index()
num_rating_df.rename(columns={'Book-Rating':'num_ratings'},inplace=True)
num_rating_df

                                               Book-Title  num_ratings
0        A Light in the Storm: The Civil War Diary of ...            4
1                                   Always Have Popsicles            1
2                    Apple Magic (The Collector's series)            1
3        Ask Lily (Young Women of Faith: Lily Series, ...            1
4        Beyond IBM: Leadership Marketing and Finance ...            1
...                                                   ...          ...
241066                                      Ã?Â?lpiraten.            2
241067                     Ã?Â?rger mit Produkt X. Roman.            4
241068                                Ã?Â?sterlich leben.            1
241069                              Ã?Â?stlich der Berge.            3
241070                                  Ã?Â?thique en toc            2

[241071 rows x 2 columns]

In [27]:
avg_rating_df = ratings_with_name.groupby('Book-Title').mean()['Book-Rating'].reset_index()
avg_rating_df.rename(columns={'Book-Rating':'avg_rating'},inplace=True)
avg_rating_df

<ipython-input-27-ebeed7a91fd4>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  avg_rating_df = ratings_with_name.groupby('Book-Title').mean()['Book-Rating'].reset_index()

                                               Book-Title  avg_rating
0        A Light in the Storm: The Civil War Diary of ...    2.250000
1                                   Always Have Popsicles    0.000000
2                    Apple Magic (The Collector's series)    0.000000
3        Ask Lily (Young Women of Faith: Lily Series, ...    8.000000
4        Beyond IBM: Leadership Marketing and Finance ...    0.000000
...                                                   ...         ...
241066                                      Ã?Â?lpiraten.    0.000000
241067                     Ã?Â?rger mit Produkt X. Roman.    5.250000
241068                                Ã?Â?sterlich leben.    7.000000
241069                              Ã?Â?stlich der Berge.    2.666667
241070                                  Ã?Â?thique en toc    4.000000

[241071 rows x 2 columns]

In [28]:
popular_df = num_rating_df.merge(avg_rating_df,on='Book-Title')
popular_df

,Book-Title,num_ratings,avg_rating
0,A Light in the Storm: The Civil War Diary of ...,4,2.250000
1,Always Have Popsicles,1,0.000000
2,Apple Magic (The Collector's series),1,0.000000
3,"Ask Lily (Young Women of Faith: Lily Series, ...",1,8.000000
4,Beyond IBM: Leadership Marketing and Finance ...,1,0.000000
...,...,...,...
241066,Ã?Â?lpiraten.,2,0.000000
241067,Ã?Â?rger mit Produkt X. Roman.,4,5.250000
241068,Ã?Â?sterlich leben.,1,7.000000
241069,Ã?Â?stlich der Berge.,3,2.666667
241070,Ã?Â?thique en toc,2,4.000000

In [29]:
popular_df = popular_df[popular_df['num_ratings']>=250].sort_values('avg_rating',ascending=False).head(50)

In [30]:
popular_df = popular_df.merge(books,on='Book-Title').drop_duplicates('Book-Title')[['Book-Title','Book-Author','Image-URL-M','num_ratings','avg_rating']]

In [31]:
popular_df['Image-URL-M'][0]

'http://images.amazon.com/images/P/0439136350.01.MZZZZZZZ.jpg'

COLLABORATIVE FILTERING RECOMMENDER SYSTEM

In [32]:
x = ratings_with_name.groupby('User-ID').count()['Book-Rating'] > 200
padhe_likhe_users = x[x].index

In [35]:
x.shape

(92106,)

In [38]:
## So we have 811 users with book rating more than 200

In [37]:
x[x]

User-ID
254       True
2276      True
2766      True
2977      True
3363      True
          ...
274308    True
275970    True
277427    True
277639    True
278418    True
Name: Book-Rating, Length: 811, dtype: bool

In [39]:
exp_users = x[x].index

In [40]:
exp_users

Int64Index([   254,   2276,   2766,   2977,   3363,   4017,   4385,   6251,
              6323,   6543,
            ...
            271705, 273979, 274004, 274061, 274301, 274308, 275970, 277427,
            277639, 278418],
           dtype='int64', name='User-ID', length=811)

In [41]:
filtered_rating = ratings_with_name[ratings_with_name['User-ID'].isin(exp_users)]

In [42]:
filtered_rating.shape

(474007, 10)

In [43]:
y = filtered_rating.groupby('Book-Title').count()['Book-Rating']>=50
famous_books = y[y].index

In [44]:
y[y].shape

(706,)

In [45]:
final_ratings = filtered_rating[filtered_rating['Book-Title'].isin(famous_books)]

In [46]:
final_ratings.shape

(58586, 10)

In [47]:
pt = final_ratings.pivot_table(index='Book-Title',columns='User-ID',values='Book-Rating')

In [48]:
pt.fillna(0,inplace=True)

In [49]:
pt

User-ID,254,2276,2766,2977,3363,4017,4385,6251,6323,6543,...,271705,273979,274004,274061,274301,274308,275970,277427,277639,278418
Book-Title,,,,,,,,,,,,,,,,,,,,,
1984,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1st to Die: A Novel,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2nd Chance,0.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4 Blondes,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
A Bend in the Road,0.0,0.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Year of Wonders,0.0,0.0,0.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
You Belong To Me,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zen and the Art of Motorcycle Maintenance: An Inquiry into Values,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zoya,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"\O\"" Is for Outlaw""",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,8.0,0.0,0.0,0.0,0.0,0.0

In [50]:
pt.shape

(706, 810)

COSINE SIMILARITY

In [51]:
from sklearn.metrics.pairwise import cosine_similarity

In [52]:
similarity_scores = cosine_similarity(pt)

In [53]:
similarity_scores.shape

(706, 706)

lets check similarity of a book with the rest of the books which means im taking 1 book out of 706 and comparing it with the 705 and showing results

In [54]:
similarity_scores[2]

array([0.01220856, 0.2364573 , 1.        , 0.        , 0.06909024,
       0.10559126, 0.        , 0.10774375, 0.06702185, 0.04168195,
       0.04772156, 0.        , 0.04758005, 0.04445515, 0.05200706,
       0.09877662, 0.06505525, 0.16998812, 0.11381916, 0.11713888,
       0.03424097, 0.08780144, 0.19734903, 0.        , 0.10296667,
       0.        , 0.05862648, 0.03167738, 0.02665072, 0.0927721 ,
       0.01578198, 0.11200668, 0.07976511, 0.09795366, 0.11151806,
       0.13297767, 0.07759342, 0.09490079, 0.10728083, 0.098855  ,
       0.05052686, 0.04079472, 0.        , 0.02486892, 0.10177107,
       0.04624558, 0.16514854, 0.0387812 , 0.04734877, 0.05537103,
       0.05389246, 0.        , 0.        , 0.17478183, 0.16630236,
       0.        , 0.03372225, 0.09401435, 0.20224734, 0.14105132,
       0.1393888 , 0.09040688, 0.02549327, 0.1202022 , 0.03908273,
       0.04271377, 0.04004905, 0.11285355, 0.02240551, 0.01410128,
       0.03325543, 0.11062089, 0.05800659, 0.15450668, 0.07858063,
       0.0997612 , 0.18042591, 0.07849569, 0.16762106, 0.08990292,
       0.22614053, 0.24169011, 0.04156953, 0.07649081, 0.01463419,
       0.        , 0.04239252, 0.1509391 , 0.01258731, 0.15069871,
       0.06006632, 0.        , 0.05036693, 0.08987847, 0.06296436,
       0.09362451, 0.26814324, 0.10948921, 0.07749603, 0.09879246,
       0.06704158, 0.04249966, 0.07822435, 0.06961493, 0.13833239,
       0.06202307, 0.18626882, 0.0445456 , 0.0577407 , 0.03785984,
       0.04348712, 0.08082647, 0.10302092, 0.12570453, 0.0767387 ,
       0.12321072, 0.11468963, 0.10781686, 0.03731935, 0.08351968,
       0.08559995, 0.01647803, 0.0677884 , 0.18145628, 0.02870577,
       0.10763031, 0.06072758, 0.01094471, 0.02269801, 0.04826433,
       0.23805062, 0.0497194 , 0.19134939, 0.        , 0.15827598,
       0.07854846, 0.10566406, 0.12226166, 0.02697156, 0.05717028,
       0.04953893, 0.11320521, 0.        , 0.09278201, 0.21202253,
       0.12456637, 0.05286205, 0.11816165, 0.10978543, 0.0914485 ,
       0.09019072, 0.1051422 , 0.13199435, 0.1187543 , 0.1036083 ,
       0.0344417 , 0.06766353, 0.        , 0.17001749, 0.07613975,
       0.04639683, 0.04184681, 0.02633073, 0.19671199, 0.14202879,
       0.08175093, 0.2524099 , 0.05481205, 0.07991618, 0.11683541,
       0.12395593, 0.11478981, 0.21765288, 0.03920354, 0.05570284,
       0.11520951, 0.        , 0.16900849, 0.04340519, 0.        ,
       0.17800975, 0.08356088, 0.14565358, 0.05440545, 0.04500108,
       0.16887067, 0.17349633, 0.05581741, 0.09898266, 0.14499685,
       0.14234095, 0.08486429, 0.16891751, 0.22709355, 0.10316495,
       0.0515122 , 0.06022762, 0.09041298, 0.27445974, 0.11081754,
       0.05055202, 0.        , 0.10705788, 0.39182764, 0.02832578,
       0.22027645, 0.09761919, 0.11678203, 0.04944729, 0.10816095,
       0.12955184, 0.02621272, 0.04091079, 0.09208942, 0.07748408,
       0.        , 0.09064423, 0.03415049, 0.15028211, 0.        ,
       0.14169006, 0.04485468, 0.11800199, 0.15162675, 0.08143043,
       0.11999605, 0.18405817, 0.07669518, 0.0756141 , 0.        ,
       0.0473647 , 0.06380993, 0.06148072, 0.07400934, 0.12285882,
       0.06964336, 0.05527738, 0.02802345, 0.06881916, 0.13309667,
       0.12359031, 0.07817627, 0.12765519, 0.09839129, 0.00950369,
       0.18887899, 0.05384452, 0.11182595, 0.07845883, 0.13680709,
       0.17193913, 0.16043806, 0.02536728, 0.10359042, 0.06832498,
       0.06612221, 0.04080324, 0.06787895, 0.05410393, 0.03487565,
       0.04027093, 0.06432701, 0.13992725, 0.02600738, 0.07548417,
       0.12543807, 0.04016395, 0.06674054, 0.09785754, 0.08638217,
       0.06429147, 0.01396324, 0.06139096, 0.05559635, 0.16862251,
       0.11395878, 0.04860853, 0.10272094, 0.03016405, 0.08946421,
       0.09349283, 0.        , 0.01820569, 0.14758529, 0.13573482,
       0.09045783, 0.08279272, 0.        , 0.16153588, 0.15460021,
       0.07344069, 0.15946474, 0.14117946, 0.1553866 , 0.04066173,
       0.02590769, 0.04879763, 0.10629313, 0.06047515, 0.2017249 ,
       0.17150965, 0.10360588, 0.10984457, 0.08961752, 0.15179334,
       0.04969039, 0.        , 0.06979725, 0.06384525, 0.0268372 ,
       0.12804898, 0.14029265, 0.11607485, 0.13108603, 0.10252825,
       0.05513046, 0.        , 0.05144184, 0.05425275, 0.04659334,
       0.08355554, 0.16316345, 0.1529027 , 0.03213033, 0.0633952 ,
       0.18034041, 0.03982399, 0.04611092, 0.0277268 , 0.12204815,
       0.06656114, 0.0671775 , 0.15779056, 0.15743039, 0.01163894,
       0.1687911 , 0.06597779, 0.06263068, 0.26840231, 0.06054415,
       0.03074765, 0.0426742 , 0.11266419, 0.10582011, 0.02596855,
       0.12775175, 0.05155245, 0.02730072, 0.07864322, 0.14288842,
       0.08879358, 0.09671034, 0.21708609, 0.05143765, 0.0560223 ,
       0.14714735, 0.02815895, 0.        , 0.03474909, 0.16108371,
       0.10244427, 0.13121221, 0.14600274, 0.13532403, 0.1229563 ,
       0.07061086, 0.        , 0.09083486, 0.25087721, 0.03198483,
       0.03692832, 0.        , 0.11995607, 0.12071381, 0.09550089,
       0.06465108, 0.08537494, 0.01477679, 0.        , 0.1104957 ,
       0.20874041, 0.08870586, 0.24923306, 0.07711143, 0.07732913,
       0.0346085 , 0.09045184, 0.        , 0.11174098, 0.09508341,
       0.        , 0.        , 0.05088291, 0.15893929, 0.12898362,
       0.04720915, 0.05865511, 0.058857  , 0.15628497, 0.02308242,
       0.17007466, 0.03176645, 0.        , 0.03909628, 0.13023827,
       0.        , 0.02293127, 0.18402901, 0.0893219 , 0.13532754,
       0.09591975, 0.1036913 , 0.13230498, 0.14510266, 0.12759731,
       0.06137368, 0.05802847, 0.09942858, 0.0834531 , 0.07212329,
       0.0333531 , 0.0798786 , 0.10713287, 0.09882334, 0.10838911,
       0.12020554, 0.02763201, 0.22914086, 0.09646635, 0.07383181,
       0.07968208, 0.04791354, 0.07839154, 0.        , 0.0287383 ,
       0.03614286, 0.12811004, 0.09246397, 0.10827209, 0.09905501,
       0.10862854, 0.15804784, 0.10690429, 0.01476195, 0.15171591,
       0.11931431, 0.04736167, 0.13699087, 0.09021902, 0.        ,
       0.        , 0.        , 0.09640075, 0.07388459, 0.20478284,
       0.09120751, 0.20246106, 0.04914905, 0.0965166 , 0.03620645,
       0.15147676, 0.11936404, 0.12895328, 0.10048928, 0.        ,
       0.07584574, 0.08607278, 0.14237615, 0.03676216, 0.06671563,
       0.19788302, 0.        , 0.1203074 , 0.        , 0.07738476,
       0.12003019, 0.06382178, 0.        , 0.03616208, 0.06740313,
       0.06250345, 0.0937018 , 0.06376078, 0.22450441, 0.06275842,
       0.05925868, 0.2593214 , 0.1130752 , 0.11098496, 0.04107814,
       0.07626958, 0.08769927, 0.1177789 , 0.        , 0.04956076,
       0.22646115, 0.03703231, 0.1362725 , 0.        , 0.05262698,
       0.05360012, 0.11416038, 0.13879285, 0.04448933, 0.07084962,
       0.15924677, 0.11151099, 0.0118255 , 0.033423  , 0.04996936,
       0.04301903, 0.        , 0.10151991, 0.0980402 , 0.02096449,
       0.08027192, 0.16088599, 0.12806292, 0.21433447, 0.0767355 ,
       0.13128556, 0.04697748, 0.14072389, 0.1187315 , 0.08120432,
       0.10461049, 0.16631327, 0.02556962, 0.11600021, 0.15819333,
       0.08108348, 0.09202204, 0.16127489, 0.12344063, 0.13614131,
       0.04262088, 0.01132002, 0.03169032, 0.10892538, 0.06262529,
       0.07866939, 0.02076859, 0.09567581, 0.09089745, 0.17018115,
       0.09705399, 0.05479617, 0.02864105, 0.12288877, 0.00321287,
       0.0384796 , 0.06738968, 0.12964882, 0.04917888, 0.06398339,
       0.03097959, 0.05716889, 0.17410558, 0.05933751, 0.05079681,
       0.0999515 , 0.136932  , 0.08950451, 0.15876561, 0.18277446,
       0.03957097, 0.10677288, 0.0394961 , 0.11013538, 0.0705881 ,
       0.14789109, 0.06719787, 0.01679211, 0.17955361, 0.1174219 ,
       0.29468928, 0.04261191, 0.34991369, 0.04518372, 0.20301484,
       0.14586878, 0.12761013, 0.23312699, 0.03031536, 0.0866404 ,
       0.        , 0.10499796, 0.04676934, 0.17684595, 0.04415223,
       0.08838092, 0.        , 0.02500174, 0.02136184, 0.06318821,
       0.08894927, 0.0731103 , 0.09431349, 0.14771293, 0.11958347,
       0.06715092, 0.14397496, 0.09962799, 0.        , 0.03510188,
       0.0188677 , 0.14875355, 0.13166034, 0.03428427, 0.14852429,
       0.11273297, 0.07158281, 0.05956752, 0.08327683, 0.00356941,
       0.03397367, 0.1733163 , 0.        , 0.03317049, 0.10708909,
       0.20040122, 0.15341121, 0.06142702, 0.1676609 , 0.08225004,
       0.12665867, 0.03057906, 0.05087102, 0.20504669, 0.02153711,
       0.12317497, 0.04570378, 0.11844331, 0.11528353, 0.14539918,
       0.06781845, 0.08277999, 0.0395124 , 0.10568537, 0.05788499,
       0.09602013, 0.16330281, 0.13605338, 0.04287552, 0.15185897,
       0.        , 0.21239999, 0.10915089, 0.10370052, 0.04516813,
       0.03210007, 0.16446574, 0.07882934, 0.1721092 , 0.08614878,
       0.19050926, 0.12589395, 0.05104335, 0.        , 0.21315997,
       0.04371894, 0.18826041, 0.19190014, 0.07526186, 0.03037757,
       0.02655973, 0.30619341, 0.09675974, 0.02179728, 0.        ,
       0.03586757, 0.09085796, 0.06600718, 0.07298232, 0.05210898,
       0.04077318, 0.08662063, 0.0265597 , 0.12671149, 0.10310407,
       0.06803455, 0.        , 0.17282651, 0.06986445, 0.04614828,
       0.05554552, 0.03346845, 0.        , 0.12256014, 0.06742189,
       0.06517881, 0.05951322, 0.09665604, 0.13192468, 0.10751659,
       0.11971237, 0.15347254, 0.18308899, 0.01990557, 0.14858008,
       0.01869694, 0.06854926, 0.16565383, 0.04558758, 0.04938579,
       0.10796119])

In [58]:
## lets create a function which retreives the 10 books with similiratiy of a book that we provide

In [67]:
def recommend(book_name):
    # index fetch
    index = np.where(pt.index==book_name)[0][0]
    similar_items = sorted(list(enumerate(similarity_scores[index])),key=lambda x:x[1],reverse=True)[1:5]

    
    for i in similar_items:
        print (pt.index[i[0]])

## SO TRYING OUT OUR RECOMMENDER SYSTEM

In [68]:
recommend('1984')

Animal Farm
The Handmaid's Tale
Brave New World
The Vampire Lestat (Vampire Chronicles, Book II)

In [70]:
recommend('The Da Vinci Code')

Angels &amp; Demons
Touching Evil
Saving Faith
The Sweet Potato Queens' Book of Love